@model GreenHiTech.ViewModels.UserVM

@{
    ViewData["Title"] = "Detail";
}

<div class="container my-5">
    <div class="px-2">
        <h2 class="text-center mb-3">Your Profile</h2>
        <div class="card-body">
            <div class="mb-3">
                <label asp-for="FirstName" class="form-label">First Name</label>
                <div class="input-group">
                    <input asp-for="FirstName" class="form-control" readonly />
                </div>
            </div>

            <div class="mb-3">
                <label asp-for="LastName" class="form-label">Last Name</label>
                <div class="input-group">
                    <input asp-for="LastName" class="form-control" readonly />
                </div>
            </div>

            <div class="mb-3">
                <label asp-for="Email" class="form-label">E-mail Address</label>
                <div class="input-group">
                    <input asp-for="Email" class="form-control" readonly />
                </div>
            </div>

            <div class="mb-3">
                <label asp-for="Phone" class="form-label">Phone Number</label>
                <div class="input-group">
                    <input asp-for="Phone" class="form-control" readonly />
                </div>
            </div>

            <div class="mb-3">
                <label asp-for="AddressDetail!.Unit" class="form-label">Unit</label>
                <div class="input-group">
                    <input asp-for="AddressDetail!.Unit" class="form-control" readonly />
                </div>
            </div>

            <div class="mb-3">
                <label asp-for="AddressDetail!.HouseNumber" class="form-label">House Number</label>
                <div class="input-group">
                    <input asp-for="AddressDetail!.HouseNumber" class="form-control" readonly />
                </div>
            </div>

            <div class="mb-3">
                <label asp-for="AddressDetail!.Street" class="form-label">Street</label>
                <div class="input-group">
                    <input asp-for="AddressDetail!.Street" class="form-control" readonly />
                </div>
            </div>

            <div class="mb-3">
                <label asp-for="AddressDetail!.City" class="form-label">City</label>
                <div class="input-group">
                    <input asp-for="AddressDetail!.City" class="form-control" readonly />
                </div>
            </div>

            <div class="mb-3">
                <label asp-for="AddressDetail!.Province" class="form-label">Province</label>
                <div class="input-group">
                    <input asp-for="AddressDetail!.Province" class="form-control" readonly />
                </div>
            </div>

            <div class="mb-3">
                <label asp-for="AddressDetail!.Country" class="form-label">Country</label>
                <div class="input-group">
                    <input asp-for="AddressDetail!.Country" class="form-control" readonly />
                </div>
            </div>

            <div class="mb-3">
                <label asp-for="AddressDetail!.PostalCode" class="form-label">Postal Code</label>
                <div class="input-group">
                    <input asp-for="AddressDetail!.PostalCode" class="form-control" readonly />
                </div>
            </div>

            @if (User.IsInRole("Admin"))
            {
                <!-- Display all roles for Admin -->
                <div class="mb-3">
                    <label class="form-label">All Roles</label>
                    <div class="input-group">
                        <div class="d-flex flex-wrap">
                            @foreach (var role in Model.RoleList)
                            {
                                <span class="badge bg-secondary me-2 p-2">@role.RoleName</span>
                            }
                        </div>
                    </div>
                </div>
            }

            <div class="d-flex justify-content-center my-3">
                <a asp-action="Edit" asp-route-id="@Model?.PkUserId" class="btn btn-primary me-2">Edit Profile</a>

                @if (User.IsInRole("Customer"))
                {
                    <button type="button" class="btn btn-danger btn-sm"
                            onclick="confirmDelete('deleteForm_@Model.PkUserId')">
                        Delete Profile
                    </button>

                    <form id="deleteForm_@Model.PkUserId" method="post" asp-action="Delete" asp-route-id="@Model.PkUserId" style="display:none;">
                        <input type="hidden" name="userId" value="@Model.PkUserId" />
                    </form>

                }
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="deleteModal" class="modal">
    <div class="modal-content">
        <p id="modalMessage">Are you sure you want to delete?</p>
        <div class="modal-buttons">
            <button id="confirmDeleteBtn" class="btn btn-danger">Yes</button>
            <button id="cancelDeleteBtn" class="btn btn-secondary">No</button>
        </div>
    </div>
</div>

<!-- Link to external JS  and CSS files -->
<link href="~/css/GreenHiTech.css" rel="stylesheet" />
<link href="~/css/DeleteModal.css" rel="stylesheet" />
<script src="~/js/deleteModal.js"></script>