@model GreenHiTech.ViewModels.UserVM

<div class="container mt-5">
    <!-- Header Section -->
    <div class="text-center">
        <h1 class="display-4 text-primary">Welcome @Model.FirstName @Model.LastName</h1>
    </div>

    <!-- Dashboard Links Section -->
    <div class="row justify-content-center mt-5">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 text-center mb-3">
            <a class="btn btn-outline-success btn-lg w-100" asp-controller="User" asp-action="Detail" asp-route-id="@Model.PkUserId">
                <i class="fas fa-address-card"></i> Go to Your Profile
            </a>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 text-center mb-3">
            <a class="btn btn-outline-primary btn-lg w-100" asp-controller="Order" asp-action="Index">
                <i class="fas fa-history"></i> Order History
            </a>
        </div>
    </div>
</div>

@section Scripts {
    @{
        <script src="~/js/modal.js"></script>
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
