@model GreenHiTech.ViewModels.ProductVM

@{
    ViewData["Title"] = "Create";
}

<script>
    var selectedFiles = [];
    // Handles the drop event, adds files to list of selected images
    function dropHandler(e) {
        e.preventDefault();
        document.getElementById('drop_zone').style.backgroundColor = 'white';
        console.log("File(s) dropped.")
        if(e.dataTransfer.items) {
            [...e.dataTransfer.items].forEach((item, i) => {
                if(item.kind === "file") {
                    const file = item.getAsFile();
                    selectedFiles.push(file);
                }
            });
        } else {
            [...e.dataTransfer.files].forEach((file, i) => {
                    selectedFiles.push(file);
                    console.log(file.kind);
                    console.log(file.type);
            });
        }
        selectedFiles.forEach((file) => {
            console.log(file.name);
        });
    }
    function dragEndHandler(e) {
        e.preventDefault();
        document.getElementById('drop_zone').style.backgroundColor = 'white';
    }
    function dragOverHandler(e) {
        document.getElementById('drop_zone').style.backgroundColor = 'pink';
        e.preventDefault();
    }
    function dragEnterHandler(e) {
        e.preventDefault();
        document.getElementById('drop_zone').style.backgroundColor = 'pink';
    }
    function dragLeaveHandler(e) {
        e.preventDefault();
        document.getElementById('drop_zone').style.backgroundColor = 'white';
    }
    function sendFilesToController(e) {
        e.preventDefault();

        const form = document.getElementById('input-form');
        const formData = new FormData(form);

        // Append each file to the FormData
        selectedFiles.forEach((file, i) => {
            formData.append('fileImages', file);
        });

        // Send the data to the server via fetch
        fetch(form.action, {
            method: 'POST',
            body: formData,
        })
            .then(response => {
                if(response.ok) {
                    console.log("Form submitted successfully!");
                    window.location.href = '/Product';
                } else {
                    console.error('Failed to submit the form');
                }
            })
            .catch(error => console.error("Error:", error));
    }
</script>

<h1>Create</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data" id="input-form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div><br />
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div><br />
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div><br />
            <div class="form-group">
                <label asp-for="StockQuantity" class="control-label"></label>
                <input asp-for="StockQuantity" class="form-control" />
                <span asp-validation-for="StockQuantity" class="text-danger"></span>
            </div><br />
            <div class="form-group mb-3">
                <label asp-for="FkCategoryId" class="control-label">Select Category</label>
                <select asp-for="FkCategoryId" asp-items="ViewBag.CategorySelectList"
                        class="form-select">
                    <option value="">-- Select Category --</option>
                </select>
                <span asp-validation-for="FkCategoryId" class="text-danger"></span>
            </div><br />
            <div class="form-group">
                <label asp-for="Manufacturer" class="control-label"></label>
                <input asp-for="Manufacturer" class="form-control" />
                <span asp-validation-for="Manufacturer" class="text-danger"></span>
            </div><br />
            <div class="form-group">
                <label asp-for="ProductImages" class="control-label"></label>
                <div 
                    id="drop_zone" 
                    class="drop-zone" 
                    ondrop="dropHandler(event);"
                     ondragover="dragOverHandler(event);"
                     ondragend="dragEndHandler(event);"
                     ondragenter="dragEnterHandler(event);"
                     ondragleave="dragLeaveHandler(event);">
                    Drag and drop your images here.
                </div>
                <span asp-validation-for="ProductImages" class="text-danger"></span>
            </div><br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" onclick="sendFilesToController(event)" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a> @{/*TODO: RETURNS TO STAFF DASHBOARD*/ }
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
