@model GreenHiTech.ViewModels.ProductVM

@{
    ViewData["Title"] = "Detail";
}

<div class="container mt-4">
    <h2 class="text-center mb-4">Product Details</h2>
    <div class="row justify-content-center">
        <div class="product-images text-center">
            @if (Model.ProductImageVMs != null && Model.ProductImageVMs.Any())
            {
                int i = 0;
                foreach (var image in Model.ProductImageVMs)
                {
                    string altId = "image_" + i.ToString();
                    <img src=@image.ImageUrl alt=@altId class="detail-image"/>
                    i++;                     
                }
            }
            else
            {
                <div>No images</div>
            }
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h4>@Model.Name</h4>
            <p>@Model.Manufacturer</p>
            <h5 class="text-secondary text-end pt-1">$@Model.Price</h5>
            <h5>Description</h5>
            <p class="text-muted">@Model.Description </p>
            <div class="d-flex flex-column justify-content-center align-items-center">

                <a class="btn text-white w-50" asp-controller="Product" asp-action="Index" style="background-color: #494949;">Back to List</a>
                @if (User.IsInRole("Admin")) {}
                else if (User.IsInRole("Customer"))
                {
                    <form  asp-controller="CartProduct" asp-action="AddToCart" method="post" asp-route-productId=@Model.PkId asp-route-quantity=1>
                        <button class="btn text-white" style="background-color: #494949;">Add to Cart</button>
                    </form>
                }
                else if (User.IsInRole("Staff"))
                {
                    <a class="btn btn-primary" asp-controller="Product" asp-action="Edit" asp-route-id="@Model.PkId" >Edit Product</a>
                }

            </div>  
        </div>
        
    </div>
</div>


