@model IEnumerable<GreenHiTech.ViewModels.ProductVM>

@{
    ViewData["Title"] = "Products";
}
<div class="container mt-4">
    @if (!string.IsNullOrEmpty(ViewBag.Message))
    {
        <div class="alert alert-info">@ViewBag.Message</div>
    }
    <div class="row">
        <div class="col-12 col-md-10 mx-auto">
            <div class="table-responsive" style="overflow-x: auto;">
                <table class="table ">
                    <tbody>
                        @foreach (var product in Model)
                        {
                        <tr>
                            <td class="text-center">
                                <img src="@(product.ProductImageVMs != null && product.ProductImageVMs.Any()
                                                                ? product.ProductImageVMs.First().ImageUrl
                                                                : "/images/no-image-available.jpg")" alt="Product Image"
                                    style="max-width: 100px; max-height: 100px;" />
                            </td>
                            <td class="text-center" style="vertical-align: middle;"> <a asp-action="Details" asp-route-id=@product.PkId class="btn btn-success btn-sm text-white" style="border-radius:8px;">View Product</a></td>
                            @if (User.IsInRole("Admin"))
                                {
                                    <td></td>
                                    <td></td>
                                }
                                else if (User.IsInRole("Customer"))
                                {
                                    
                                    <td class="text-center" style="vertical-align: middle;">
                                        <form asp-controller="CartProduct" asp-action="AddToCart" method="post"
                                            asp-route-productId=@product.PkId asp-route-quantity=1>
                                            <button class="btn btn-primary">Add to Cart</button>
                                        </form>
                                    </td>
                                }
                                else if (User.IsInRole("Staff"))
                                {
                                    <td class="text-center" style="vertical-align: middle;"><a asp-controller="Product" asp-action="Edit" asp-route-id=@product.PkId><i class="fa-solid fa-pen-to-square text-warning"></i></a></td>
                                    <td class="text-center" style="vertical-align: middle;">
                                        <form asp-controller="Product" asp-action="Delete" method="post" asp-route-id=@product.PkId
                                            style="display:inline;" id="deleteForm_@product.PkId">
                                            <button type="button" onclick="confirmDelete(@product.PkId)" style="border:none;"><i class="fa-solid fa-trash text-danger"></i></button>
                                        </form>
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



<div id="deleteModal" class="modal">
    <div class="modal-content">
        <p id="modalMessage">Are you sure you want to delete this product?</p>
        <div class="modal-buttons">
            <button id="confirmDeleteBtn" class="btn btn-danger">Yes</button>
            <button id="cancelDeleteBtn" class="btn btn-secondary">No</button>
        </div>
    </div>
</div>

@section Scripts {
    @{
        <script src="~/js/modal.js"></script>
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
