@{
    ViewData["Title"] = "Home Page";
}

<section class="container">
    <img src="~/images/landing-page/banner-mobile.jpg" class="w-100 h-auto mobile-banner" alt="Alternate Text" />
    <img src="~/images/landing-page/banner-desktop.jpg" class="w-100 h-auto desktop-banner" alt="Alternate Text" />
</section>

<Section class="container pt-3 pb-3">
    <h2 class="text-center mb-4">Shop by Category</h2>
    <div class="d-flex flex-wrap justify-content-between gap-3">

        <div class="d-flex flex-column justify-content-between bg-white text-center">
            <a href="/home/category?categoryID=2">
                <img src="~/images/landing-page/smartphones.png" alt="Smartphones" class="img-fluid rounded" width="140">
            </a>
            <div><a href="/home/category?categoryID=2" class="text-decoration-none fw-bold text-muted">Smartphones</a></div>
        </div>

        <div class="d-flex flex-column justify-content-between bg-white text-center">
            <a href="/home/category?categoryID=1">
                <img src="~/images/landing-page/laptops.png" alt="Laptops" class="img-fluid rounded" width="140">
            </a>
            <div>
                <a href="/home/category?categoryID=1"
                   class="text-decoration-none fw-bold text-muted">Laptops</a></div>
        </div>

        <div class="d-flex flex-column justify-content-between bg-white text-center">
            <a href="/home/category?categoryID=4">
                <img src="~/images/landing-page/tablets.png" alt="Tablets" class="img-fluid rounded" width="140">
            </a>
            <div><a href="/home/category?categoryID=4" class="text-decoration-none fw-bold text-muted">Tablets</a></div>
        </div>

        <div class="d-flex flex-column justify-content-between bg-white text-center">
            <a href="/home/category?categoryID=5">
                <img src="~/images/landing-page/headphones.png" alt="Headphones" class="img-fluid rounded" width="140">
            </a>
            <div><a href="/home/category?categoryID=5" class="text-decoration-none fw-bold text-muted">Headphones</a></div>
        </div>

        <div class="d-flex flex-column justify-content-between bg-white text-center">
            <a href="/home/category?categoryID=6">
                <img src="~/images/landing-page/gaming.png" alt="Gaming" class="img-fluid rounded" width="140">
            </a>
            <div><a href="/home/category?categoryID=6" class="text-decoration-none fw-bold text-muted">Gaming</a></div>
        </div>

        <div class="d-flex flex-column justify-content-between bg-white text-center">
            <a href="/home/category?categoryID=7">
                <img src="~/images/landing-page/smart-home.png" alt="Smart-Homes" class="img-fluid rounded" width="140">
            </a>
            <div><a href="/home/category?categoryID=7" class="text-decoration-none fw-bold text-muted">Smart Home</a></div>
        </div>

        <div class="d-flex flex-column justify-content-between bg-white text-center ">
            <a href="/home/category?categoryID=3">
                <img src="~/images/landing-page/accessories.png" alt="Accessories" class="img-fluid rounded" width="140">
            </a>
            <div><a href="/home/category?categoryID=3" class="text-decoration-none fw-bold text-muted">Accessories</a></div>
        </div>

    </div>
</Section>
