@model IEnumerable<GreenHiTech.ViewModels.IdentityUserVM>

@{
    ViewData["Title"] = "User Roles";
}

<h1 class="text-center">User Roles</h1>
<div class="text-center mb-3">
    <a asp-action="Create" class="btn btn-success">Create New User Role</a>
</div>
<div class="d-flex justify-content-center" style="max-width: 600px; margin: auto;">
    <div class="w-75">
        <table class="table table-bordered table-hover text-center border-dark">
            <thead>
                <tr>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Email</td>
                        <td>
                            @Html.ActionLink("View Roles", "Detail", new { userName = item.Email }, new { @class = "btn btn-info btn-sm" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

