@model IEnumerable<GreenHiTech.ViewModels.OrderVM>


@{
    ViewData["Title"] = "Staff Dashboard";
}
<br />
<h1>All the Products</h1>
<br />

<div>Total Sales: @ViewBag.TotalSales</div>
<div>Average Sales: @ViewBag.AverageSales</div>
<div>Total Orders: @ViewBag.TotalOrders</div>

<a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Index">View Products</a>
<a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Create">Add Product</a>
<a class="nav-link text-dark" asp-area="" asp-controller="OrderDetail" asp-action="Index">View Orders</a>


@section Scripts {
    @{
        <script src="~/js/modal.js"></script>
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
